@media (min-width: 768px) {
  .services__title {
    padding-left: 24px !important ;
  }
}
.swiper-pagination {
  margin-bottom: 24px;
  position: static;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD;
}

.swiper-pagination-bullet-active {
  background-color: #B5B6BC;
}

.services__title {
  background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
  border-top: solid 1px #D9FFF5;
  margin: 0;
  padding: 16px;
  margin-bottom: 16px;
  color: #7E7E82;
  font-size: 16px;
}

.offer {
  margin: 0 16px;
}

.offer__commercial {
  background-color: #F8F8F8;
  font-size: 16px;
  text-align: start;
  margin-top: 16px;
}
.offer__commercial::after {
  vertical-align: middle;
  padding-left: 10px;
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.1625 9.60411C0.838186 9.97957 0.838186 10.536 1.1625 10.9115L1.29432 11.0641C1.69317 11.5258 2.40899 11.5258 2.80785 11.0641L6.8372 6.39937C7.16152 6.02392 7.16152 5.46745 6.8372 5.092L2.80785 0.427277C2.40899 -0.0344715 1.69317 -0.0344715 1.29432 0.427278L1.1625 0.57988C0.838185 0.955333 0.838186 1.5118 1.1625 1.88726L4.49539 5.74569L1.1625 9.60411Z' fill='%23FF3E79'/%3e%3c/svg%3e ");
}

.footer {
  border-top: solid 1px #D9FFF5;
  margin: 57px 0 19px 0;
}
.footer p {
  padding-top: 16px;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  color: #7E7E82;
}

.aside {
  position: fixed;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.96;
  overflow-y: auto;
  overflow-x: hidden;
  
  animation-name: closed__Aside;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.shadow {
  display: none;
  z-index: 100;
  position: absolute;
  width:100%;
  height: clamp(127.5rem, 58.075rem + 22.12vw, 93.75rem);
  background:#fff;
  opacity: 0.96;
}

.open {
  animation-name: open__Aside;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes open__Aside {
  0% {
    top: -2400px;
  }
  100% {
    top: 0;
  }
}

@keyframes closed__Aside {
  0% {
    top: 0;
  }
  100% {
    top: -2400px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  padding: 5px 15px;
  background-color: #fff;
  height: 100vh;
  box-shadow: 36px 2px 23px -2px rgba(0, 0, 0, 0.22);
}

.aside__footer {
  background-color: #fff;
  margin-top: auto;
}

.aside__button:last-child {
  margin-left: auto;
}

.aside__main {
  margin-top: 37px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .footer {
    display: grid;
    margin: 32px 24px 24px 24px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer p:last-child {
    text-align: right;
  }
  .footer p:first-child {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .container {
    box-shadow: none;
  }

  .header {
    display: none;
  }

  .aside {
    display: block;
    position: relative;
    width: 280px;
    height: 100vh;
    top: 0 !important;
    left: -573px !important;
    background-color: #fff;
    margin-top: 0;
    visibility: visible !important;
  }

  .container__one {
    position: absolute;
    left: 280px;
  }

  .aside__button:first-child {
    display: none;
  }

}


.app {
  min-height: 100vh;
}


@media (min-width: 1440px) {

.app {
  justify-content: center;
  position: relative;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}


}

.container__aside {
  position: sticky;
  top: 0;
  left: 0;
  width: 320px;
  z-index: 1;
}