
@import '../scss/style.css';
@import '../scss/feedback.scss';
@import '../scss/index.css';
@import '../scss/services-all.css';
@import '../scss/fonts.scss';

@import '/node_modules/swiper/swiper.css';

.about__more {
    display: flex;
    flex-wrap: wrap;
    
}

.about__more-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

}

@media (min-width: 768px) {
    .about__more {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0 0 0;
    }    
}

// @media (min-width: 1440px) {
//     .app {
//         max-width: 1650px;
//         margin: 0 auto;
//     }
// }






// @import '/webpack-static-template/node_modules/swiper/swiper-bundle.css';

